# dependencies
node_modules

# testing
coverage

# next.js
.next/
out/
build
dist
packages/**/dist

# Tailwind
packages/**/styles/tailwind.css

# misc
.DS_Store
*.pem

# turbo
.turbo
.vercel
.cache
.output
apps/**/public/build
apps/**/server-build
